@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    color:antiquewhite;
     
}
body{
    
   
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgb(4, 0, 61), rgb(10, 0, 145));
    
    padding: 80px;

}
.header{
    text-align: center;
 
    font-size:18px;
    margin:20px;
}
.container{
    height: auto;
    /* border: 2px solid red; */
    width: 100%;
    flex-direction: column;
    display:inline-flex;

}
.calculator{
    margin:20px;
    padding : 20px;
    display: inline-flex;
    justify-content: center;
    /* border: 2px solid green; */
    flex:2;
   

}
.numbers{
    display : flex;
    width:50vh;
    height: 150vh;
    /* border : 3px solid blue; */
    justify-content: center;
    flex-direction: column;
    /* flex :2; */
    
}
.buttonRow{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:auto;
    /* border: 2px solid red; */
   
}
.calcButton{
    width:10vh;
    background-color: aliceblue;
    height: 10vh;
    margin:4px;
    text-align: center;
    
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid black;
    color:black;
    flex:1;
}
.display{
    /* border: 2px solid red; */
    width:100%;
    height:5vh;
    margin-bottom: -160px;

    background-color: white;

}
.display>#displayNumber{
    
    font-size: 18px;
    color : black;
    height: 24px;
}
.operators{
    width:10vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}
button{
    
    font-size:12px;
    color:black;
    width:10vh;
    height: 10vh;
    /* border: 2px solid black; */
}
.miscButton{
    width:10vh;
    background-color: aliceblue;
    height: 10vh;
    margin:4px;
    text-align: center;
    
    box-sizing: border-box;
    padding: 5px;
    /* border: 2px solid red; */
    color:black;
    flex:1;

}
.negativeButton{
    width:10vh;
    background-color: aliceblue;
    height: 10vh;
    margin:4px;
    text-align: center;
    
    box-sizing: border-box;
    padding: 5px;
    /* border: 2px solid red; */
    color:black;
    flex:1;
}
.decimalButton{
    width:10vh;
    background-color: aliceblue;
    height: 10vh;
    margin:4px;
    text-align: center;
    
    box-sizing: border-box;
    padding: 5px;
    /* border: 2px solid red; */
    color:black;
    flex:1;
}